
.container{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0.5%;
    
    box-shadow: 30px -13px #077ff8;
}


.image-container {
  height: 100%;
  width: 100%;
  background-size: cover; 
  background-position: 40% 60%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1mm ridge rgba(0, 157, 255);

  
  
}
.inputfile {
  border: 2px solid #cad2d8; 
  border-radius: 5px; 
  padding: 10px; 
  font-size: 12px; 
  font-family: Arial, sans-serif; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none; 
  cursor: pointer;
  
}



