.Title {
    color: #ffffff;
    font-weight: bold !important;  
    font-size: 20px;
    padding: 10px;
   
    background-image: linear-gradient( 89.5deg,  rgba(131,204,255,1) 0.4%, rgba(66,144,251,1) 100.3% );

}

